<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wypozyczanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/addserie">
    <table>
        <tr>
          <!--  <td>Wybierz authora</td>
            <select th:field="*{author}">
                <option th:each="i : ${author}" th:value="${author}" th:text="${author}">
                </option>
            </select>
        </tr> -->
        <tr>
            <td>Podaj nazwę </td>
            <td><input name="NazwaSerii"></td>
        </tr>
        <tr>
            <td>Podaj ilość książek </td>
            <td> <input name="IloscKsiazek"> </td>
        </tr>
        <tr>
            <td>    Podaj związane serię </td>
            <td><input name="ZwiazaneSerie"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>
